{% extends "base.html" %}
{% load static %}
{% block title %}Orders{% endblock %}

{% block web_content %}
    <div class="receipts_main_body">
        <div>
            {% if orders %}
            {% for item in orders %}
                <p style="font-weight: bold;text-align: center;color: gray;">{{ item.created }}</p>
                <div class="receipt">
                    <h3 style="text-align: center;margin: 4px 0;text-decoration: underline;">KiLib receipt</h3>
                    <table class="order_table">
                        <tr>
                            <th class="order_table_headers">No.</th>
                            <th class="order_table_headers">Book</th>
                            <th class="order_table_headers">Quantity</th>
                            <th class="order_table_headers">Price</th>
                        </tr>
                        {% for items in orderItems %}
                        {% if items.order == item %}
                            <tr>
                                <td class="order_table_data">1</td>
                                <td class="order_table_data">{{ items.product.title }}</td>
                                <td class="order_table_data">{{ items.quantity }}</td>
                                <td class="order_table_data">{{ items.price }}</td>
                            </tr>
                        {% else %}
                        {% endif %}

                        {% endfor %}

                    </table>
                    <div style="display: flex;">
                        <div style="flex: 65%;">
                            <p style="text-align: right;font-weight: bold;font-size: 15px;margin: 0; margin-top: 5px;color: rgb(54, 51, 51);">Delivery charges: <span style="font-size: 12px;color: black;">KES</span><span style="color: black">200</span></p>
                            <p style="text-align: right;font-weight: bold;font-size: 15px;margin: 0; margin-top: 5px;color: rgb(54, 51, 51);">Total: <span style="font-size: 12px;color: black;">KES</span><span style="color: black">{{ item.total_paid }}</span></p>
                        </div>
                        <div style="flex: 35%;">
                            <p style="text-align: right;font-weight: bold;font-size: 15px;margin: 0; margin-top: 5px;color: rgb(54, 51, 51);">Receipt No.:
                                <span style="color: black">
                                    {% if item.receipt_No %}
                                        {{ item.receipt_No }}
                                    {% else %}
                                        N/L
                                    {% endif %}
                                </span></p>
                            <p style="text-align: right;font-weight: bold;font-size: 15px;margin: 0; margin-top: 5px;color: rgb(54, 51, 51);">Payment status: <span style="color: green">Paid</span></p>
                        </div>
                    </div>

                    <hr>
                    {% if item.billing_status is not True %}
                        <div>
                            <form action="{% url 'payment:confirmPay' item.id %}" method="GET">
                            <p style="color: red;text-align: center;margin: 4px 0;font-size: 15px;">Your payment is not confirmed yet! Please input your receipt number below to confirm</p>
                            <div style="display: flex;">
                                <div style="flex: 85%;">
                                    <input class="receiptNumber" style="width: 96%;padding: 6px 0;padding-left: 10px;border: none;border-bottom: 2px solid purple;font-size: 15px;" type="text" placeholder="Receipt Number.. Eg. GDFFDXX45" name="receiptnumber">
                                </div>
                                <div style="flex: 15%;">
                                    <a href="{% url 'payment:confirmPay' item.id %}">
                                        <button style="width: 100%;padding: 7px 0;background-color: purple;border: none;color: white;border-radius: 4px;" type="submit">Submit</button>
                                    </a>
                                </div>
                            </div>
                            </form>
                        </div>
                    {% else %}
                        <p style="letter-spacing: 10px;text-align: center;color: green;margin: 6px 0;font-weight: bold;">#Delivery approved</p>
                    {% endif %}

                </div>
        </div>
        {% endfor %}

        {% else %}
            <p style="text-align: center; margin: 20px;font-size: 20px;font-weight: bold;">You have not made any order yet</p>
        {% endif %}
    </div>
{% endblock %}