{% extends "base.html" %}
{% block title %}Wallet{% endblock %}
{% block web_content %}
   <style>
    .walletButton{
      padding: 5px 20px;
      color: white;
      border: 2px solid purple;
      background-color: purple;
      border-radius: 4px;
      font-weight: bold;
      font-size: 16px;
      transition: all 0.15s;
    }
    .walletButton:hover{
      border: 2px solid purple;
      color: purple;
      background-color: white;
    }
</style>
  
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-12">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div id="payment-form" class="col-12 col-lg-7 mx-auto">
                <h2 class="mb-3" style="text-align: center;color: purple">KiLib-Wallet</h2>
                  <hr>
                <div style="width: 100%;border-bottom: 3px solid purple;border-radius: 7px;">
                    <h4 style="text-align: center;font-weight: bold;"><span style="letter-spacing: 40px;">BALANC</span>E</h4> 
                    <p  style="text-align: center;">
                        <span style="font-size: 28px;color: black;font-weight: bold;text-shadow: 0 2px 2px purple;">KES</span>
                        <span style="font-size: 90px;color: purple;font-weight: bolder;text-align: center;text-shadow: 0 4px 4px black;">{{ balance }}</span>
                    </p>
                    <div style="width: 100%;">
                      <a href="{% url 'wallet:deposit' %}"><button class="walletButton">Deposit</button></a>
                      <a href="#"><button class="walletButton" style="float: right;">Withdraw</button></a>
                    </div>
                    
                </div>
                <h4>Transactions</h4>
                <p style="text-align: right;font-size: 14px;color: rgb(121, 113, 113);display: block;">12/2/2024 1:20PM</p>
                <p style="font-size: 15px;">
                  <span style="color: purple;">#</span>
                   Book-purchase::48-Laws-Of-Power::6Copies::Price9900::DeliveryPrice343::lastKING-bookstore
                </p>
                
                <hr>
                <p>Currently, you have not made any transactions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}